/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2019, 5:05:47 PM
    Author     : Abdul Rehman
*/
/*.root{
    -fx-border-color: black;
}*/
Scene{
   -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #dc143c, #32cd32);
}
.custom {
  -fx-control-inner-background: #6d6c6a;
  -fx-font-size: 30pt;
  -fx-text-fill:white;
  -fx-font-weight:bold;
  -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(211,211,211,0.2); /* here rgba (corrected) */
   -fx-alignment: CENTER_RIGHT;
}
.btnNo {
    /*-fx-background-color: rgba(255, 255, 255, 0.5);;*/
    -fx-background-color: black;
    -fx-text-fill:white;
    -fx-font-size: 20pt;
    -fx-font-weight:bold;
    -fx-background-radius:0;
    -fx-border-color:whitesmoke;
    -fx-border-width: 0 .5 .5 0;
}

.btnNo:hover {
    -fx-background-color:#cdcdcd;
    -fx-background-radius:0;
    -fx-border-color:black;
    -fx-border-width: 1 0 0 1;
    -fx-background-insets: 0;
}

.btnOpr {
    /*-fx-background-color: rgba(255, 255, 255, 0.5);;*/
    -fx-background-color: #3e3d38;
    -fx-text-fill:white;
    -fx-font-size: 20pt;
    -fx-font-weight:regular;
    -fx-background-radius:0;
    -fx-border-color:whitesmoke;
    -fx-border-width: 0 0.5 0.5 0;
}

.btnOpr:hover {
    /*-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #cdcdcd, blue);*/
    -fx-background-color:blue;
    -fx-background-radius:0;
    /*-fx-border-width: 1 0 0 1;*/
    -fx-background-insets: 0;
}
